<h2>File Locations</h2>

{{!TODO: Create a `render-file-locations` controller}}
{{!TODO: Assign the controller's file path to the `controllerPath` property}}
{{!TODO: Display `controllerPath` in a `<code>` in this template}}
{{!TODO: Display the `application.hbs` file path in a code block in application.hbs}}
{{!TODO: Browse back to `/` and note that the `application.hbs` file path is still visible}}
{{!TODO: Delete the code block that you added to `application.hbs`}}

<p id="instructions">
  <code>$ open app/templates/sort.hbs</code> to see the instructions.
</p>

{{outlet}}
