<h2>Schedule</h2>

{{!Delete p#instructions}}
{{!TODO: Run `ember g controller schedule`.}}
{{!TODO: Add a `times` property to the controller who's value is:}}
{{!`["1:00", "1:30", "2:00"]`}}
{{!TODO: Render each list item using `{#each times as |time|}`}}
{{!TODO: When a time is selected, hide the time selection buttons}}
{{!and display which time the user selected.}}
{{!TODO: Allow the user to reset the selected time.}}


<p id="instructions">
<code>$ open app/templates/schedule.hbs</code> for instructions.
</p>

{{outlet}}
