{{!TODO: Delete p#instructions}}
{{!TODO: Create a sort controller}}
{{!TODO: When a header is clicked, a "^" should be visible next to it.}}
{{!TODO: When a header which is displaying a "^" is clicked, the "^" should be replaced by "v"}}
{{!TODO: When a header which is displaying a "v" is clicked, a "^" should be displayed instead}}
{{!TODO: Only the most recently clicked header may display a "^" or "v".}}
{{!TODO: [BONUS] Assign [this](http://bit.ly/chi-em-11-json) JSON snippet to the sort controller's `model` attribute}}
{{!TODO: [BONUS] Replace the static table with one rendered via `#each`}}
{{!TODO: [BONUS] When a header is displaying a "^", the collection should be sorted in ascending order by that key.}}
{{!TODO: [BONUS] When a header is displaying a "v", the collection should be sorted in descending order by that key.}}
{{!TODO: [BONUS] Replace the "^" with a unicode up arrow: &#9650}}
{{!TODO: [BONUS] Replace the "v" with a unicode down arrow: &#9660}}

<h3>Sortable Grid</h3>

<p id="instructions">
  <code>$ open app/templates/sort.hbs</code> to see the instructions.
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>My Love</td>
      <td>The Bird and the Bee</td>
      <td>Ray Guns Are Not Just The Future</td>
      <td>3:46</td>
    </tr>
    <tr>
      <td>Neighbors</td>
      <td>The Long Division</td>
      <td>Multiply</td>
      <td>2:25</td>
    </tr>
    <tr>
      <td>Middle Distance Runner</td>
      <td>Sea Wolf</td>
      <td>Leaves In The River</td>
      <td>3:28</td>
    </tr>
    <tr>
      <td>Good Old Vinyl</td>
      <td>Jim Noir</td>
      <td>Jim Noir</td>
      <td>3:40</td>
    </tr>
    <tr>
      <td>The Desperate Man</td>
      <td>The Black Keys</td>
      <td>Rubber Factory</td>
      <td>3:54</td>
    </tr>
  </tbody>
</table>

{{outlet}}
