<h2>Choose Your Challenge</h2>

<ol>
  <li>
    {{#link-to 'render-file-locations'}}
    Render File Locations
    {{/link-to}}
  </li>
  <li>
    {{#link-to "toggle-panel"}}
    Toggle Panel
    {{/link-to}}
  </li>
  <li>
    {{#link-to "schedule"}}
    Schedule
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sort-songs"}}
    Sort Songs
    {{/link-to}}
  </li>
</ol>
{{outlet}}
