<h2>Choose Your Challenge</h2>

<ol>
  <li>
    {{#link-to 'render-file-locations'}}
    Render File Locations
    {{/link-to}}
  </li>
  <li>
    Panel Toggle
  </li>
  <li>
    Schedule
  </li>
  <li>
    Sort Songs
  </li>
</ol>
{{outlet}}
